$main-bg-color: #EEF0F4;
$app-color: #201ADB;
$secound-app-color: #3A82FF;
$danger-app-color: #D93232;

@for $i from 1 through 150 {
    .w-#{$i}-per {
        width: percentage($i/100);
    }

    .col-gap-#{$i} {
        column-gap: #{$i}px;
    }

    .row-gap-#{$i} {
        row-gap: #{$i}px;
    }

    .w-#{$i}-px {
        width: #{$i}px !important;
    }

    .p-#{$i}-px {
        padding: #{$i}px;
    }

    .mt-#{$i}-px {
        margin-top: #{$i}px;
    }

    .font-size-#{$i} {
        font-size: #{$i}px !important;
    }
}

@for $i from -1 through 10000 {
    .z-index-#{$i} {
        z-index: #{$i};
    }
}

.MuiCard-root {
    overflow: visible !important;
}

.main-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2000;
    /* padding-top: 40%; */
    /* top: 40%; */
    left: 0px;
    opacity: 0.5;
    background: darkgray;
    display: flex;
    filter: alpha(opacity=50);
    justify-content: center;
    align-items: center;
}

.default-flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

svg.delete-icon {
    cursor: pointer;

    &:hover {
        color: $danger-app-color;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Sarabun', sans-serif !important;
}

.main-layout {
    min-height: 100%;
    height: 100%;
}

.header-nav {
    position: sticky;
    top: 0;
    left: 0;
    top: 0;
    background: #fff;
    height: 60px;

    svg {
        color: $secound-app-color;
        font-size: 2rem;
    }
}

.main-layout-content {
    min-height: 100%;
    // height: 100%;
    // min-width: 1220px;
    background-color: #eef0f4;
    color: #5a5a5a;

    .content {
        height: 100%;
        padding: 12px 0;
        margin: 0 24px;
    }
}

.select__control.css-1s2u09g-control {
    min-height: 40px;
}

.MuiTypography-body1 {
    font-size: 14px !important;
    line-height: 1 !important;
}

.MuiToolbar-regular {
    min-height: 0px !important;
}

.MuiTableCell-paddingCheckbox {
    width: 48px;
    padding: 0 12px 0 15px !important;
}

td.MuiTableCell-body.no-data-table {
    text-align-last: center;
    opacity: 0.5;
    font-size: 20px;
    line-height: 200px;
}

input[type='checkbox'] {

    &.indeterminate {
        background-color: #0d6efd;
        border-color: #0d6efd;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
    }
}

.MuiListItem-root:hover {
    color: #111;
}

.main-menu {
    cursor: pointer;

    &:hover,
    &.active {
        color: $secound-app-color;

        svg {
            color: $secound-app-color;
        }
    }

    // &.active {
    //     color: #fff;
    //     background: $secound-app-color;
    //     border-radius: 5px;
    //     border-radius: 5px 0px 0px 5px;
    //     margin-left: 2px;

    //     svg {
    //         color: #fff;
    //     }
    // }
}

.one-menu {
    cursor: pointer;

    &:hover {
        color: $secound-app-color;

        svg {
            color: $secound-app-color;
        }
    }

    &.active {
        color: #fff;
        background: $secound-app-color;
        border-radius: 5px;
        border-radius: 5px 0px 0px 5px;
        margin-left: 2px;

        svg {
            color: #fff;
        }
    }
}

.MuiDrawer-paper {
    overflow: hidden;
    z-index: 999 !important;
}

.MuiPaper-root {
    color: #5a5a5a !important;
}

.MuiPaper-elevation1 {
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.04) !important;
}

.MuiDrawer-paperAnchorDockedLeft {
    width: 250px;
}

.sidebar-haeder {
    display: flex;
    align-items: center;
    // justifyContent: 'flex-end',
    height: 80px;
}

.sidebar-list {
    min-width: fit-content;
    width: 250px;
}

.blank-layout {
    height: 100vh;

    .main-container,
    .content-container {
        height: 100%;
        width: 100%;
    }

    .content-container {
        z-index: 100;
        position: relative;
        padding-left: 5rem;
        padding-right: 5rem;
        height: 100%;
        display: grid;
        align-items: center;
    }

    .main-container {
        position: relative;
        width: 100%;
        height: 100%;
        background: url('../assets/images/login-bg1.jpg') center center no-repeat;
        background-size: cover;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #bed3eb;
            opacity: .6;
            z-index: 2;
        }
    }

    .overlay {
        opacity: 0.5;
    }

    img.login-image {
        object-fit: contain;
    }

    .login-form {
        min-width: 60%;

        &.MuiPaper-elevation1 {
            box-shadow: none !important;
        }
    }
}

span.link {
    cursor: pointer;
}

.drag-area {
    height: auto;
    border: 3px dashed #e0eafc;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
}

h3 {
    margin-bottom: 20px;
    font-weight: 500;
}

.drag-area .icon {
    font-size: 50px;
    color: #1683ff;
}

.drag-area .header {
    font-size: 20px;
    font-weight: 500;
    color: #34495e;
}

.drag-area .support {
    font-size: 12px;
    color: gray;
    margin: 10px 0 15px 0;
}

.drag-area .button {
    font-size: 20px;
    font-weight: 500;
    color: #1683ff;
    cursor: pointer;
}

.drag-area.active {
    border: 2px solid #1683ff;
}

.drag-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.requird {
    color: $danger-app-color;
}

.preview-container {
    display: flex;

    .preview-item {
        svg {
            position: absolute;
            font-size: 30px;
            color: $danger-app-color;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    img.preview-img {
        width: 100px;
        height: 100px;
        margin-right: 10px;
    }

}

.MuiFormControl-root {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

#error-text {
    color: #f44336;
}

.login-page {
    .login-section {
        height: 100vh;
        width: 100%;

        .section-one {
            position: relative;
            background: url('../assets/images/login-page.jpg') center center no-repeat;
            background-size: cover;
            padding-top: 10%;
            padding-left: 5%;

            .welcome {
                font-size: 35px;
            }

            .title {
                margin-top: -30px;
                font-size: 100px;
                font-weight: 600;
                text-shadow: 2px 2px 4px #ffffff;
                color: #2E4C6D;
            }

        }

        .section-two {
            display: flex;
            align-items: center;
            margin: 0 auto;
            padding: 10%;
            flex-direction: column;
            background: #ECEFFF;

            .welcome {
                align-self: start;
                font-size: 28px;
                text-shadow: 2px 2px 4px #cfcfcf;
                color: #3A82FF;
            }

            .title {
                align-self: start;
                font-size: 35px;
                font-weight: 500;
                text-shadow: 2px 2px 4px #cfcfcf;
                color: #3A82FF;
            }
        }
    }
}

.signup-section {
    height: 100vh;
    width: 100%;

    .section-one {
        position: relative;
        background: url('../assets/images/shopping.jpg') center center no-repeat;
        background-size: cover;
        padding-top: 10%;
        padding-left: 5%;

        .welcome {
            font-size: 35px;
        }

        .title {
            margin-top: -30px;
            font-size: 100px;
            font-weight: 600;
            text-shadow: 2px 2px 4px #ffffff;
            color: #2E4C6D;
        }

    }

    .section-two {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 10%;
        flex-direction: column;
        background: #ECEFFF;

        .welcome {
            align-self: start;
            font-size: 28px;
            text-shadow: 2px 2px 4px #cfcfcf;
            color: #3A82FF;
        }

        .title {
            align-self: start;
            font-size: 35px;
            font-weight: 500;
            text-shadow: 2px 2px 4px #cfcfcf;
            color: #3A82FF;
        }
    }
}

.category-wrapper {
    position: absolute;
    z-index: 999;
    background: white;
    margin-top: -13px;
    width: 100%;
    max-width: 38.8rem;
    border: 1px solid;
    // padding: 0.8rem;
    border-radius: 3px;
}

.category-item {
    line-height: 2.2rem;
    cursor: pointer;

    svg {
        display: none;
    }

    &:hover {
        background: #1683FF;
        color: white;

        svg {
            display: flex;
        }
    }
}

.sub-category-div {
    max-height: 29rem;
    overflow: auto;
}

.react-select .select__menu.css-2613qy-menu,
.react-select .select__menu.css-1pahdxg-menu {
    z-index: 999 !important;
}

.option-item {
    background: #F5F8FE;
    padding: 10px;
    margin-bottom: 10px;
}

.ant-alert.ant-alert-info {
    .ant-alert-icon {
        padding-top: 5px;

        svg {
            font-size: 18px;
        }
    }

    .ant-alert-content {
        .ant-alert-message {
            font-size: 18px;
            font-weight: 600;
            color: $secound-app-color;
        }
    }
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper {
    .btn {
        border: none;
        color: #fff;
        background-color: $secound-app-color;
        padding: 4px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
}


@media screen and (max-width: 960px) {
    .content-container {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}

@media screen and (min-width: 960px) {
    .main-layout-content .content {
        padding-left: 250px;
    }

    .fixd-menu {
        display: flex !important;
    }

    .content-container {
        padding-left: 10rem !important;
        padding-right: 10rem !important;
    }

    // .login-form {
    //     width: 55% !important;
    // }
}