$main-bg-color: #EEF0F4;
$app-color: #201ADB;
$secound-app-color: #3A82FF;
$danger-app-color: #D93232;
$radius: 10px;

// @import './setting.scss';
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

.fw-500 {
    font-weight: 500;
}

@for $i from 1 through 200 {
    .w-#{$i}-per {
        width: percentage($i/100);
    }

    .col-gap-#{$i} {
        column-gap: #{$i}px;
    }

    .row-gap-#{$i} {
        row-gap: #{$i}px;
    }

    .w-#{$i}-px {
        width: #{$i}px !important;
    }

    .p-#{$i}-px {
        padding: #{$i}px;
    }

    .mt-#{$i}-px {
        margin-top: #{$i}px;
    }

    .font-size-#{$i} {
        font-size: #{$i}px !important;
    }

    .min-height-#{$i} {
        min-height: #{$i}px;
    }

    .border-radius-10 {
        border-radius: $radius;
    }
}

@for $i from -1 through 10000 {
    .z-index-#{$i} {
        z-index: #{$i};
    }
}

.login-form-container {
    background: #fff;
    width: 100%;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.sidebar-haeder {

    // .logo {
    //     object-fit: contain !important;
    // }
    .app-name {
        font-weight: 600;
        color: #f4511e;
        // text-shadow: 2px 1px 0px #cccccc;
    }

    .app-title {
        margin-top: -5px;
        color: #0165DE;
        font-weight: 600;
    }

    // span {
    //     font-size: 40px;
    //     font-weight: 500;
    // }
}

.ant-modal-content {
    border-radius: $radius !important;
}

.ant-modal-header {
    border-radius: $radius $radius 0 0 !important;
}

.ant-modal-body {
    padding: 15px !important;
}

.ant-modal.stock-modal {
    width: 770px !important;
}

.input-group-text {
    background-color: #fff !important;
    border-right: none !important;
}

.MuiCard-root {
    overflow: visible !important;
}

.MuiPaper-rounded {
    border-radius: $radius !important;
}

.main-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2000;
    /* padding-top: 40%; */
    /* top: 40%; */
    left: 0px;
    opacity: 0.5;
    background: darkgray;
    display: flex;
    filter: alpha(opacity=50);
    justify-content: center;
    align-items: center;
}

.default-flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

svg.delete-icon {
    cursor: pointer;

    &:hover {
        color: $danger-app-color;
    }
}

.text-gray {
    color: #999;
}

.ant-carousel {
    .slick-slider.dashbord.slick-initialized {
        .slick-list {
            border-radius: $radius;
        }
    }

    .slick-slider.stat-cards.slick-initialized {

        .slick-prev,
        .slick-prev:hover {
            left: 0px;
            z-index: 2;
            color: #303030;
            font-size: 20px;
            background: #fff;
            padding-top: 3px;
            border-radius: 50%;
            box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        }

        .slick-next,
        .ant-carousel .slick-next:hover {
            right: 0px;
            z-index: 2;
            color: black;
            font-size: 20px;
            background: #fff;
            padding-top: 3px;
            border-radius: 50%;
            box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        }

        .slick-dots-bottom li {
            display: none;
        }

        .carousel-card {
            background: #F4F6F9;
            min-width: 150px;
            width: 50%;
            border-radius: $radius;
            padding: 1rem;
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Sarabun', sans-serif !important;
}

.main-layout {
    min-height: 100%;
    height: 100%;
}

.header-nav {
    position: sticky;
    top: 0;
    left: 0;
    top: 0;
    background: #fff;
    height: 60px;

    svg {
        color: $secound-app-color;
        font-size: 2rem;
    }
}

.main-layout-content {
    min-height: 100%;
    // height: 100%;
    // min-width: 1220px;
    background-color: #eef0f4;
    color: #5a5a5a;

    .content {
        height: 100%;
        padding: 12px 0;
        margin: 0 24px;
    }
}

.select__control.css-1s2u09g-control,
.select__control.select__control--menu-is-open,
.select__control--is-focused.css-1pahdxg-control {
    min-height: 1.5rem !important;
}

.css-tlfecz-indicatorContainer,
.css-1gtu0rj-indicatorContainer {
    padding: 4.5px 8px !important;
}

.MuiTypography-body1 {
    font-size: 13px !important;
    line-height: 1 !important;
}

.MuiToolbar-regular {
    min-height: 0px !important;
}

.MuiTableCell-paddingCheckbox {
    width: 48px;
    padding: 0 12px 0 15px !important;
}

td.MuiTableCell-body.no-data-table {
    text-align-last: center;
    opacity: 0.5;
    font-size: 20px;
    line-height: 200px;
}

.MuiTableCell-root {
    font-size: 13px !important;
}

input[type='checkbox'] {

    &.indeterminate {
        background-color: #0d6efd;
        border-color: #0d6efd;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
    }
}

.MuiListItem-root:hover {
    color: #111;
}

.MuiTableRow-head {
    background: #deeaff;
}

button.MuiTab-root.MuiTab-textColorPrimary {
    span.MuiTab-wrapper {
        font-size: 14px;
        font-weight: 600;
    }
}

.PrivateTabIndicator-root-4.PrivateTabIndicator-colorPrimary-5.MuiTabs-indicator {
    height: 4px;
}

.main-menu {
    cursor: pointer;

    &:hover,
    &.active {
        color: $secound-app-color;

        svg {
            color: $secound-app-color;
        }
    }

    // &.active {
    //     color: #fff;
    //     background: $secound-app-color;
    //     border-radius: 5px;
    //     border-radius: 5px 0px 0px 5px;
    //     margin-left: 2px;

    //     svg {
    //         color: #fff;
    //     }
    // }
}

.one-menu {
    cursor: pointer;

    &:hover {
        color: $secound-app-color;

        svg {
            color: $secound-app-color;
        }
    }

    &.active {
        color: #fff;
        background: $secound-app-color;
        border-radius: 5px;
        border-radius: 5px 0px 0px 5px;
        margin-left: 2px;

        svg {
            color: #fff;
        }
    }
}

.MuiDrawer-paper {
    overflow: hidden;
    z-index: 999 !important;
}

.MuiPaper-root {
    color: #5a5a5a !important;
}

.MuiPaper-elevation1 {
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.04) !important;
}

.MuiDrawer-paperAnchorDockedLeft {
    width: 250px;
}

.sidebar-haeder {
    display: flex;
    align-items: center;
    // justifyContent: 'flex-end',
    height: 80px;
}

.sidebar-list {
    min-width: fit-content;
    width: 250px;
}

.blank-layout {
    height: 100vh;

    .main-container,
    .content-container {
        height: 100%;
        width: 100%;
    }

    .content-container {
        z-index: 100;
        position: relative;
        padding-left: 5rem;
        padding-right: 5rem;
        height: 100%;
        display: grid;
        align-items: center;
    }

    .main-container {
        position: relative;
        width: 100%;
        height: 100%;
        background: url('../assets/images/login-bg1.jpg') center center no-repeat;
        background-size: cover;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #bed3eb;
            opacity: .6;
            z-index: 2;
        }
    }

    .overlay {
        opacity: 0.5;
    }

    img.login-image {
        object-fit: contain;
    }

    .login-form {
        min-width: 60%;

        &.MuiPaper-elevation1 {
            box-shadow: none !important;
        }
    }
}

span.link {
    cursor: pointer;
}

.drag-area {
    height: auto;
    border: 3px dashed #e0eafc;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
}

h3 {
    margin-bottom: 20px;
    font-weight: 500;
}

.drag-area .icon {
    font-size: 50px;
    color: #1683ff;
}

.drag-area .header {
    font-size: 20px;
    font-weight: 500;
    color: #34495e;
}

.drag-area .support {
    font-size: 12px;
    color: gray;
    margin: 10px 0 15px 0;
}

.drag-area .button {
    font-size: 20px;
    font-weight: 500;
    color: #1683ff;
    cursor: pointer;
}

.drag-area.active {
    border: 2px solid #1683ff;
}

.drag-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.requird {
    color: $danger-app-color;
}

.preview-container {
    display: flex;

    .preview-item {
        svg {
            position: absolute;
            font-size: 30px;
            color: $danger-app-color;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    img.preview-img {
        width: 100px;
        height: 100px;
        margin-right: 10px;
    }

}

.MuiFormControl-root {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

#error-text {
    color: #f44336;
}

.login-page {
    .login-section {
        height: 100vh;
        width: 100%;

        .section-one {
            position: relative;
            background: url('../assets/images/login-page.jpg') center center no-repeat;
            background-size: cover;
            padding-top: 10%;
            padding-left: 5%;

            .welcome {
                font-size: 35px;
            }

            .title {
                margin-top: -30px;
                font-size: 100px;
                font-weight: 600;
                text-shadow: 2px 2px 4px #ffffff;
                color: #2E4C6D;
            }

        }

        .section-two {
            display: flex;
            align-items: center;
            margin: 0 auto;
            padding: 10%;
            flex-direction: column;
            background: #ECEFFF;

            .welcome {
                align-self: start;
                font-size: 28px;
                text-shadow: 2px 2px 4px #cfcfcf;
                color: #3A82FF;
            }

            .title {
                align-self: start;
                font-size: 35px;
                font-weight: 500;
                text-shadow: 2px 2px 4px #cfcfcf;
                color: #3A82FF;
            }
        }
    }
}

.signup-section {
    height: 100vh;
    width: 100%;

    .section-one {
        position: relative;
        background: url('../assets/images/shopping.jpg') center center no-repeat;
        background-size: cover;
        padding-top: 10%;
        padding-left: 5%;

        .welcome {
            font-size: 35px;
        }

        .title {
            margin-top: -30px;
            font-size: 100px;
            font-weight: 600;
            text-shadow: 2px 2px 4px #ffffff;
            color: #2E4C6D;
        }

    }

    .section-two {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 10%;
        flex-direction: column;
        background: #ECEFFF;

        .welcome {
            align-self: start;
            font-size: 28px;
            text-shadow: 2px 2px 4px #cfcfcf;
            color: #3A82FF;
        }

        .title {
            align-self: start;
            font-size: 35px;
            font-weight: 500;
            text-shadow: 2px 2px 4px #cfcfcf;
            color: #3A82FF;
        }
    }
}

.category-wrapper {
    position: absolute;
    z-index: 999;
    background: white;
    margin-top: -13px;
    width: 100%;
    max-width: 38.8rem;
    border: 1px solid;
    // padding: 0.8rem;
    border-radius: 3px;
}

.category-item {
    line-height: 2.2rem;
    cursor: pointer;

    svg {
        display: none;
    }

    &:hover {
        background: #1683FF;
        color: white;

        svg {
            display: flex;
        }
    }
}

.sub-category-div {
    max-height: 29rem;
    overflow: auto;
}

.react-select .select__menu.css-2613qy-menu,
.react-select .select__menu.css-1pahdxg-menu {
    z-index: 999 !important;
}

.option-item {
    background: #F5F8FE;
    padding: 10px;
    margin-bottom: 10px;
}

.ant-alert.ant-alert-info {
    .ant-alert-icon {
        padding-top: 5px;

        svg {
            font-size: 18px;
        }
    }

    .ant-alert-content {
        .ant-alert-message {
            font-size: 18px;
            font-weight: 600;
            color: $secound-app-color;
        }
    }
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper {
    .btn {
        border: none;
        color: #fff;
        background-color: $secound-app-color;
        padding: 4px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
}

.MuiCircularProgress-root.MuiCircularProgress-colorPrimary.MuiCircularProgress-indeterminate {
    width: 18px !important;
    height: 18px !important;
}

img.table-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
}

.MuiButton-root,
.ant-btn:not(.ant-btn-circle) {
    border-radius: 5px !important;
}

.table-header-content {

    img.table-image {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 4px;
    }

    span.title {
        font-size: 14px;
        color: #333;
        font-weight: 500;
    }
}

.shop-setting-logo.ant-upload-picture-card-wrapper {
    width: max-content;
}

.logo-upload-btn-con {
    align-self: end;
    padding-bottom: 8px;
    padding-left: 50px;
}

.ql-container.ql-snow {
    height: 450px;
}

.MuiListItemIcon-root {
    min-width: 35px !important;
}

div.MuiButtonBase-root:not(.one-menu) {
    padding-left: 2.5rem;
}

.ant-dropdown.ant-dropdown-placement-bottomRight {
    width: 200px;
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
    text-align: center;
}

.menu-item-title>.MuiListItemText-primary {
    opacity: 0.7;
    font-size: 12px !important;
}

.menu-item-icon>svg {
    opacity: 0.7;
    font-size: 14px !important;
}
.sub-menu-icon>svg {
    opacity: 0.7;
    font-size: 10px !important;
}

.MuiCardContent-root:last-child {
    padding-bottom: 16px !important;
}

svg.large-icon {
    font-size: 27px;
}

.coupon-type {
    border: solid 1px #CBCED5;
    padding: 10px;
    border-radius: 5px;
    width: 48%;
    background: transparent;

    &:hover {
        cursor: pointer;
        border: solid 1px $secound-app-color;
    }

    .title {
        font-size: 15px;
    }

    .desc {
        background: #F2F3F7;
        padding: 5px;
        margin-top: 5px;
        border-radius: 5px;

        div span.main-value span {
            font-size: 18px !important;
            font-weight: 500;
            margin-right: 7px;
        }

        div {
            color: #ABAFB9;
            font-size: 11px;
        }
    }


}

.coupon-type.selected {
    border: solid 1px $secound-app-color;
    // background: aliceblue;

    .title {
        color: $secound-app-color;
    }

    .desc {
        background: #FEF1F3;

        div {
            color: $danger-app-color;
        }
    }
}

.social-login-btn {
    border-radius: 50%;

    &:hover {
        cursor: pointer;
        border: 1px solid #9F9F9F !important;
    }
}

.other-info {
    display: grid;
    column-gap: 35px;
    grid-template-columns: max-content auto;
    row-gap: 15px;
}

.anticon.anticon-down {
    svg {
        font-size: 10px;
    }
}

.invoice-summary {
    display: grid;
    grid-template-columns: 50% 50%;

    div {
        text-align: right;
    }
}

.print-label {
    .header {
        position: sticky;
        top: 0;
        width: 100%;
        background: rgb(242, 243, 247);
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .preview {
        box-sizing: content-box;
        width: 700px;
        min-height: 990px;
        padding: 20px;
        border: 1px solid #ccc;
        margin: 0 auto 30px;
    }
}

.MuiPaper-root.MuiCard-root.stat-card,
.stat-card {
    &.bg-gray {
        background: #F4F6F9;
    }

    .stat-title {
        margin-bottom: 5px;
        // font-size: 15px;
    }

    .stat-value {
        font-size: 20px;
        font-weight: 600;

        span {
            font-size: 20px;
            font-weight: 600;
        }

        .baht {
            font-weight: 500;
            font-size: 16px;
            margin-right: 4px;
        }
    }
}

.space-nowrap {
    white-space: nowrap;
}

.ant-progress.ant-progress-circle.product-dashboard {
    .ant-progress-inner {
        width: 180px !important;
        height: 180px !important;
    }

    span.ant-progress-text {
        top: 40% !important;

        .text-format {
            display: flex;
            flex-direction: column;

            .desc {
                font-weight: 500;
            }

            .value {
                margin-top: 15px;
                font-size: 35px;
                font-weight: 600;
            }
        }
    }
}

@media (max-width: 575.98px) {
    .other-info {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 960px) {
    .content-container {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}

@media screen and (min-width: 960px) {
    .main-layout-content .content {
        padding-left: 250px;
    }

    .fixd-menu {
        display: flex !important;
    }

    .content-container {
        padding-left: 10rem !important;
        padding-right: 10rem !important;
    }

    // .login-form {
    //     width: 55% !important;
    // }
}

@media print {
    .print-label {
        .header {
            display: none;
        }

        .preview {
            border: none;
        }
    }




    /* ... the rest of the rules ... */
}