
.mobile-none {
    display: block !important;
}

@media (max-width: 1440px) and (min-width:1025px ){
     /* For tablets pro: */
     .mobile-none {
        display: block !important;
    }
     
}
@media (max-width: 1024px) and (min-width:769px ){
     /* For tablets pro: */
     .mobile-none {
        display: block !important;
    }

}
@media (max-width: 768px) and (min-width:575.98px ){
    /* For tablets: */
    .mobile-none {
        display: none !important;
    }
    
}
@media (max-width: 575.98px) {
    /* For mobile: */
    .mobile-none {
        display: none !important;
    }

}

