$main-bg-color: #EEF0F4;
$app-color: #201ADB;
$secound-app-color: #3A82FF;
$danger-app-color: #D93232;
$radius: 10px;

.acc-setting {
    row-gap: 5px;

    button.ant-btn {
        border: none;
        background: transparent;
        box-shadow: none;
        text-align: left;

        &.active {
            background: #3a82ff;
            color: #fff;
        }
    }
}

.MuiBadge-anchorOriginTopRightRectangle {
    top: -3px !important;
}

.MuiBadge-badge {
    height: 17px !important;
    min-width: 17px !important;
}

.antd-loading {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-content {
    display: flex;
    flex-direction: column;
    text-align: end;
    row-gap: 5px;
}

.ant-divider-horizontal {
    margin: 15px 0 !important;
}

.table-overflow {
    overflow-x: auto;
}

tbody.MuiTableBody-root {
    background: #fff;
}

.coupon-items {
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.coupon-card {
    background: #F5F8FD;
    padding: 10px;
    display: flex;
    column-gap: 10px;
    border-radius: $radius;
    cursor: pointer;
    &:hover {
        background: darken($color: #F5F8FD, $amount: 3);
    }

    .icon {
        flex: 0 0 64px;
        width: 64px;
        height: 64px;
        border-radius: $radius;
        text-align: center;
        background: #fff;

        &>svg {
            width: 100%;
            height: 100%;
            padding: 15px;
        }
    }

    .title {
        font-size: 15px;
        margin-bottom: 5px;
        font-weight: 600;
        color: #7c7c7c;
    }

}

@media (min-width: 600px) {
    .MuiTab-root {
        min-width: auto !important;
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .coupon-items {
        row-gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
}